<div id="logo">
    <style>
      ol span {
        color: darkgrey;
      }
    </style>

    <ol>
      LinkedIn:
      <a href="https://www.linkedin.com/in/aadesaed/">
        <span>Saheed Adeleye</span>
      </a>
    </ol>

    <ol>
      X:
      <a href="https://x.com/gyreas">
        <span>@gyreas</span>
      </a>
    </ol>

    <ol>
      GitHub:
      <a href="https://github.com/gyreas/">
        <span>gyreas</span>
      </a>
    </ol>

    <ol>
      SourceHut:
      <a href="https://git.sr.ht/~gyreas/">
        <span>~gyreas</span>
      </a>
    </ol>
</div>
