@import "normalize.css";
@import "fonts.css";
@import "code.css";
@import "emacs.css";

body {
	margin-top: 0px;
	padding: 0;
	font-family: Inter;
	font-size: 124%;
	line-height: 150%;
	background-color: #232425;
	color: white;
}

h3, h4, h5 {
	margin-bottom: 0px;
}

blockquote {
	padding: 1px 1px 1px 20px;
	background-color: #2d2a2a85;
	font-size: 90%;
	border-left: 2px solid #dfcccc;
}

a:link, a:visited	{
	text-decoration: none;
	color:white;
}

a:hover	{
	text-decoration: underline;
}

#logo	{
	text-align:left;
	margin-left: 14px;
}

#logo ol {
	margin: 0px;
	padding: 0px;
}

#nav {
	text-align:center;
	margin:auto;
	margin-top:0px;
	padding-top:0px;
	margin-bottom:5px;
	padding-bottom:5px;
	border-bottom: 1px solid gray;
}

#content-left {
	text-align:left;
	margin:auto;
	padding-top:5px;
	margin-bottom:20px;
	padding-bottom:20px;
}

#content {
	text-align:right;
	margin:auto;
	margin-top:20px;
	padding-top:20px;
	margin-bottom:20px;
	padding-bottom:20px;
}

#footer {
	text-align:center;
	margin:auto;
	font-size:0.8em;
	margin-bottom:10px;
	padding-bottom:10px;
	border-top: 1px solid #000;
}

#content-left a:link, #content-left a:visited	{
	text-decoration: underline;
	color:rgb(187, 180, 180)
}

#content-left a:hover	{
	text-decoration: none;
}

#post-short a:link, #post-short a:visited	{
	text-decoration: none;
	color: white;
	font-style: italics;
}

#post-short a:hover	{
	text-decoration: underline;
}

#post-short h3, #post h2	{
	margin-bottom: 0px;
}

#post-short i	{
	font-size:0.8em;
	color: grey;
}

#post i	{
	font-size:0.8em;
	color: grey;
}

#categories a, #categories a:link, #categories a:visited {
	background-color: gray;
	color: white;
	text-decoration: none;
	padding: 0.1em 0.5em 0.1em 0.5em;
	border-radius: 25px;
}

#gyre {
	text-align: center;
	margin-bottom: 9em;
	font-size: 1.5em;
}

#categories a:hover {
	text-decoration: underline;
}

#main {
	width: 70%;
}

.highlight {
	width: fit-content;
}

@media screen and (min-width: 1081px) {
	#main {
		width: 54%;
		margin: 0 auto;
		padding: 10px;
	}

	#logo, #nav, #content-left,	#footer {
		display: block;
		width: 100%;
	}

	#logo img {
		max-width: 80%;
	}

	#nav {
		font-size: 1.3em;
		padding-bottom: 0.5em;
	}

	#content-left p {
		font-size: 1.0em;
	}

	h2, h3, h4, h5 {
		margin-bottom: 0px;
	}
	h2 {
		font-size: 2.2em;
		line-height: 1em;
	}

	h3 {
		font-size: 1.5em;
		line-height: 1.0em;
	}

	h4 {
		font-size: 1.1em;
	}
}

@media screen and (min-width: 851px) and (max-width: 1080px) {
	#main {
		width: 80%;
	}
}

@media screen and (min-width: 450px) and (max-width: 850px) {
	#main {
		width: 98%;
		margin: 0 auto;
		padding: 10px;
		font-size: 100%;
		line-height: 150%;
	}

	#logo, #nav, #content-left,	#footer {
		display: block;
		width: 100%;
	}

	#logo img {
		max-width: 80%;
	}

	#nav {
		font-size: 1.0em;
		padding-bottom: 0.5em;
	}

	#content-left p {
		font-size: 0.9em;
	}

	h2, h3, h4, h5 {
		margin-bottom: 0px;
	}
	h2 {
		font-size: 2em;
	}

	h3 {
		font-size: 1.2em;
	}

	h4 {
		font-size: 0.8em;
	}
}
